[project]
name = "reformatters"
version = "0.1.0"
description = "Reformat weather datasets into zarr"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "cfgrib>=0.9.14.1",
    "dask>=2024.9.0",
    "numcodecs>=0.13.1",
    "numpy>=2.1.1",
    "obstore>=0.3.0b7",
    "pydantic>=2.10.2",
    "rasterio>=1.4.2",
    "requests>=2.32.3",
    "s3fs>=2024.9.0",
    "typer>=0.12.5",
    "xarray[io]>=2024.9.0",
    "zarr>=2.18.3",
]

[tool.uv]
dev-dependencies = [
    "matplotlib>=3.9.2",
    "mypy>=1.11.2",
    "pandas-stubs>=2.2.2.240909",
    "pre-commit>=3.8.0",
    "pyqt6>=6.7.1",
    "ruff>=0.6.5",
    "types-requests>=2.32.0.20240914",
]

[tool.ruff.lint]
select = [
    "UP",    # pyupgrade
    "I",     # isort
    "F",     # pyflakes
    "N",     # pep8-naming
    "W",     # pycodestyle warning
    "E",     # pycodestyle error
    "ASYNC", # async
    "S",     # security
    "B",     # bugs
    "C4",    # comprehensions
    "T10",   # debugger
]
ignore = [
    "S101",  # disallow asserts
    "E501",  # line too long
    "W293",  # black line contains whitespace
]


[tool.mypy]
files = "."
plugins = ["pydantic.mypy"]
strict = true
enable_incomplete_feature = "NewGenericSyntax"

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true
